<section>
    <header class="h-[58px] bg-white w-full px-40 border-b-2 ">

        <div class="flex flex-row justify-between py-4">


            <aside class="flex flex-row gap-5">
                <span class="mt-1">
                    <app-icon></app-icon>
                </span>
                <h1 class="font-bold text-gray-900">NextCent</h1>
            </aside>

            <nav class=" flex flex-row ">
                <ul class="flex flex-row gap-10 text-[#4d4d4d] font-medium  ">
                    <li><a href="http://">Home</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Pricing</a></li>
                    <li>
                        <button
                            class="bg-[#4caf4f] font-normal flex flex-row gap-3 -mt-1 text-white shadow-slate-300 shadow-md rounded-[3px] px-[22px] py-[9px] w-[132px] h-[36px] text-xs">
                            Register&nbsp;Now 
                          <span class="mt-1.5">
                            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.79989 7.72559L10.519 6.00648C10.7229 5.8026 10.7229 5.47205 10.519 5.26817L8.79989 3.54906M10.3661 5.63732L2.70914 5.63732"
                                    stroke="white" stroke-width="0.765676" stroke-linecap="round" />
                            </svg>
                          </span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</section>