<section class="h-[444px]   bg-[#f5f7fa] flex mx-auto ">

    <div class="flex flex-wrap gap-36 justify-between  items-center text-center mx-auto">
        <aside class="text-left">
            <h1 class="text-[#4d4d4d]  text-[60px]  font-semibold">Lessons and insights <br> <span
                    class="text-[#4caf4f]">from 8 years</span></h1>
            <label for="" class="text-[#717171] font-normal text-xs">Where to grow your business as a photographer: site or social media</label>
        </aside>

        <aside class="w-[272px] h-[283px]"><app-logo></app-logo></aside>

    </div>
</section>